body {
  background-color: #190e17;
  color: white;
  margin: 0 auto;
  font-family: europa, sans-serif;
  font-weight: 300;
  font-style: normal; }

footer {
  position: absolute;
  bottom: 0;
  padding: 2em 1em;
  text-align: center; }

p {
  line-height: 1.4; }

a {
  color: #c5a8cb;
  text-decoration: none;
  transition: all 0.25s linear; }
  a:active, a:visited, a:focus {
    outline: 0; }
  a:hover {
    color: #dac8de; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: kepler-std, serif;
  font-weight: 700;
  font-style: normal;
  color: #e7ca98; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

@media (min-width: 1200px) {
  body {
    font-size: 1em; }
  h1 {
    font-size: 3vw; }
  h2 {
    font-size: 2.5vw; }
  h3 {
    font-size: 2.3vw; }
  h4 {
    font-size: 2vw; }
  h5 {
    font-size: 1.8vw; }
  h6 {
    font-size: 1.7vw; } }

@media (min-width: 1600px) {
  p {
    font-size: 1vw; } }

@media (min-width: 1920px) {
  p {
    font-size: 0.9vw; } }

img {
  max-width: 100%; }

section {
  height: 100vh; }

ul {
  list-style-type: none; }

.delay-1 {
  animation-delay: 0.5s; }

#menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0; }
  @media (max-width: 1000px) {
    #menu {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center; } }
  #menu li {
    padding: 0.5rem 0; }
    @media (max-width: 1000px) {
      #menu li {
        padding: 1rem;
        line-height: 0.5rem; }
        #menu li img {
          width: 25px; } }
    #menu li.active a {
      color: #dac8de; }
      #menu li.active a:first-child {
        opacity: 1; }
    #menu li a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em; }
      @media (max-width: 1000px) {
        #menu li a {
          font-size: 0.8em; } }
      #menu li a:first-child {
        opacity: 0.75; }
      #menu li a:hover {
        opacity: 1; }

@-webkit-keyframes arrowAnim {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(231, 202, 152, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes arrowAnim {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(231, 202, 152, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

.arrowDown span {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #e7ca98;
  border-radius: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s linear;
  cursor: pointer; }
  .arrowDown span:hover {
    border-color: #f5ead6; }
    .arrowDown span:hover::after {
      border-color: #f5ead6; }
  .arrowDown span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #e7ca98;
    border-bottom: 1px solid #e7ca98;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    transition: border-color 0.2s linear; }
  .arrowDown span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(231, 202, 152, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: arrowAnim 3s infinite;
    animation: arrowAnim 3s infinite;
    box-sizing: border-box; }

#main {
  background: url("../images/galaxy-bg.jpg") 50% 100%;
  background-size: cover; }

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  text-align: center; }
  .intro__text {
    width: 30%;
    margin-top: 3rem; }
    .intro__text p {
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
      @media (min-width: 1625px) {
        .intro__text p {
          font-size: 1.2vw; } }
    @media (max-width: 1600px) {
      .intro__text {
        width: 50%; } }
    @media (max-width: 1000px) {
      .intro__text {
        width: 80%; }
        .intro__text img {
          width: 150px; }
        .intro__text p {
          font-size: 1.2em; } }

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center; }
  .about__image {
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 80%;
    background: linear-gradient(transparent 0%, rgba(25, 14, 23, 0.5) 0%), url(../images/skate-bg.jpg) 50% 50%;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
    @media (max-width: 1000px) {
      .about__image {
        width: 100%;
        height: 100vh; } }
  .about__text {
    width: 40%;
    text-align: center;
    align-self: center;
    justify-self: center; }
    @media (max-width: 1000px) {
      .about__text {
        width: 80%; } }

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-areas: "header header" "flux-1 flux-2";
  padding: 7rem; }
  .products .bg-text {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7em;
    color: #c5a8cb;
    opacity: 25%; }
    @media (min-width: 1600px) and (max-width: 1920px) {
      .products .bg-text {
        top: 18%; } }
    @media (min-width: 1500px) and (max-width: 1600px) {
      .products .bg-text {
        top: 22%;
        font-size: 5em; } }
    @media (min-width: 1200px) and (max-width: 1500px) {
      .products .bg-text {
        top: 26%;
        font-size: 4em; } }
    @media (max-width: 1200px) {
      .products .bg-text {
        top: 2%;
        font-size: 2em; } }
  @media (max-width: 1920px) {
    .products {
      grid-template-rows: auto;
      padding: 5rem;
      grid-row-gap: 50px;
      grid-column-gap: 50px; } }
  @media (max-width: 1600px) {
    .products {
      padding: 4rem;
      grid-row-gap: 100px; } }
  @media (max-width: 1200px) {
    .products {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "header" "flux-1" "flux-2";
      grid-row-gap: 0;
      padding: 0; } }
  .products .product {
    position: relative; }
    .products .product__title {
      position: absolute;
      left: 52%;
      top: 20%;
      mix-blend-mode: screen; }
      .products .product__title h2 {
        margin: 0;
        font-size: 2.8em;
        text-shadow: 4px 4px 0 #613e69; }
      .products .product__title h3 {
        margin: 0;
        font-size: 2em; }
    .products .product__desc {
      position: absolute;
      left: 63%;
      top: 33%;
      font-size: 1.2em; }
    .products .product img {
      width: 60%; }
      @media (max-width: 1200px) {
        .products .product img {
          width: 50%;
          margin-bottom: 1rem; }
          .products .product img:first-child {
            margin-top: 50px; } }
      @media (max-width: 600px) {
        .products .product img {
          width: 100%; } }
    @media (max-width: 1920px) {
      .products .product__title {
        position: absolute;
        left: 55%;
        top: 20%;
        mix-blend-mode: screen; }
        .products .product__title h2 {
          font-size: 2em; }
        .products .product__title h3 {
          font-size: 1.5em; }
      .products .product__desc {
        left: 65%;
        font-size: 1em; } }
    @media (min-width: 1920px) {
      .products .product {
        padding: 100px; } }
    @media (max-width: 1600px) {
      .products .product__title {
        font-size: 1em;
        left: 64%;
        top: 8%; }
      .products .product__desc {
        font-size: 0.9em;
        left: 64%; } }
    @media (max-width: 1200px) {
      .products .product {
        margin: 30px;
        padding: 0;
        text-align: center; }
        .products .product__title {
          position: relative;
          left: 0;
          top: 0;
          font-size: 1em; }
        .products .product__desc {
          position: relative;
          left: 0;
          top: 0;
          font-size: 1em; } }
    @media (max-width: 600px) {
      .products .product {
        margin: 10px 30px; } }
  .products .flux-1 {
    grid-area: flux-1; }
  .products .flux-2 {
    grid-area: flux-2; }
  .products__header {
    grid-area: header;
    text-align: center; }

#contact-us {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.3) 0%), url("../images/galaxy-bg-2.jpg") 50% 100%;
  background-size: cover; }

.contact {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  text-align: center; }

#my-scrollbar {
  width: 500px;
  height: 500px;
  overflow: auto; }
